@layer base, button, modal;

@import url("https://cdn.jsdelivr.net/npm/kiso.css@latest/kiso.css") layer(base);

:root {
  --color-black: #000;
  --color-white: #fff;
}

@layer button {
  .button {
    --min-inline-size: 320px;
    --background: var(--color-black);
    --background-active: color-mix(in srgb, var(--background) 80%, white);
    --text-color: var(--color-white);

    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    inline-size: min(100%, var(--min-inline-size));
    /* 上方向 */
    padding-block: 1lh;
    /* 左右方向 */
    padding-inline: 1.5em;
    color: var(--text-color);
    letter-spacing: 0.02em;
    appearance: none;
    cursor: pointer;
    background-color: var(--background);
    border: 0;
    transition:
      background-color 0.3s,
      color 0.3s;

    &::before {
      content: "";
    }

    &::after {
      display: inline-block;
      justify-self: end;
      inline-size: 1ex;
      aspect-ratio: 1;
      content: "";
      border-block-start: 1px solid;
      border-inline-end: 1px solid;
      rotate: 45deg;
    }

    &:focus-visible {
      background-color: var(--background-active);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--background-active);
      }
    }
  }
}

@layer modal {
  dialog {
    &[data-active="true"] {
      display: block;
    }
    position: fixed;
  }

  .modal {
    --duration: 0.5s;
    --gutter: max(5vi, 20px);
    --background: var(--color-black);
    --background-backdrop: color-mix(
      in srgb,
      var(--background),
      transparent 20%
    );

    inline-size: min(calc(100% - calc(var(--gutter) * 2)), 840px);
    block-size: min(calc(100svb - calc(var(--gutter) * 2)), 475px);
    margin: auto;
    color: var(--color-white);
    background-color: var(--background);
    box-shadow: 0 0 0 100vmax var(--background-backdrop);
    transition:
      opacity var(--duration),
      scale var(--duration);

    &::backdrop {
      backdrop-filter: blur(4px);
      　-webkit-backdrop-filter: blur(4px);
      transition: opacity 0.5s;
      display: block;
    }
  }
}

.close {
  --background: var(--color-black);
  --background-active: color-mix(in srgb, var(--background) 80%, white);
  --icon-color: var(--color-white);

  position: absolute;
  inset-block-start: 4px;
  inset-inline-end: 4px;
  z-index: 1;
  inline-size: 3em;
  aspect-ratio: 1;
  appearance: none;
  cursor: pointer;
  background-color: var(--background);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
  transition: background-color 0.3s;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    display: inline-block;
    width: 45%;
    height: 2px;
    margin: auto;
    content: "";
    background-color: var(--color-white);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: 135deg;
  }

  &:focus-visible {
    background-color: var(--background-active);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--background-active);
    }
  }
}
